# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
pubspec.lock

# Android
android/app/src/main/java/io/flutter/plugins/
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/**/*.iml
android/app/release/
*.jks
*.keystore

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store
